.program__container{
    display: flex;
    flex-direction:column;
    align-items: center;
    gap:30px;
    font-family:  'Inter', sans-serif, serif;
}

.program__filter{
    border: 2px solid #0f3e88;
    height: fit-content;
    padding: 10px;
    margin-top:10px;
    border-radius:12px;
    background: rgba(40, 63, 140, 0.59);
}

/* --- GRID Z FILMAMI --- */
.program__movies{
    display: grid;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 40px;
}

/* KARTA FILMU */
.movie__item{

    display:flex;
    padding:16px;
    gap:24px;
    background: rgba(18, 54, 209, 0.08);
    border: 1px solid rgba(24, 54, 198, 0.44);
    border-radius: 16px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);

    width:100%;
}

.movie__info{
    text-decoration: none;
    color:black;
    display: flex;
    flex-direction:column;
    justify-content: center;
}

.movie__info img{
    width: 180px;
    border-radius:12px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
}

.movie__info h4{
    margin-top: 10px;
    padding: 0 4px;
    font-size: clamp(1rem, 1.1vw + 0.6rem, 1.4rem);
    font-weight: 600;
    text-align: center;
    color: #0f172a;
    line-height: 1.2;
    letter-spacing: 0.03em;
    white-space: normal;
}

.movie__program{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:10px;
}

.program__item {
    min-width:70px;
    background: #f4f6ff;
    border-radius: 12px;
    padding: 6px 7px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    border: 1px solid #d2d7f0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 4px;
}

.program__item span {
    font-weight: 700;
    font-size: 1.1rem;
}

.program__item p {
    font-size: 0.9rem;
    margin: 0;
}

/* --- DLA SZEROKICH EKRANÓW --- */
@media (min-width: 1580px) {
    .program__movies{
        max-width: 1800px;
        grid-template-columns: repeat(4, minmax(360px, 1fr));
        gap:50px;
    }
    .movie__item{
        gap: 32px;
    }
}
