.promos__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    font-family: 'Inter', sans-serif, serif;
    padding: 20px;
}

.promos__title {
    font-size: 2rem;
    font-weight: 700;
    color: #0f172a;
    margin-top: 15px;
}

.promos__grid {
    display: grid;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 40px;
    justify-items: center;
}

.promo__card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    background: rgba(18, 54, 209, 0.08);
    border: 1px solid rgba(24, 54, 198, 0.44);
    border-radius: 16px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 380px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.promo__card:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.35);
}

.promo__name {
    font-size: 1.4rem;
    font-weight: 600;
    color: #0f172a;
    margin: 0 4px;
}

.promo__info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

.promo__info-box {
    background: #f4f6ff;
    border-radius: 12px;
    padding: 16px 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    border: 1px solid #d2d7f0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.promo__info-box span {
    font-weight: 700;
    font-size: 1.1rem;
    color: #1e3a8a;
}

.promo__info-box p {
    font-size: 0.8rem;
    margin: 0;
    color: #475569;
}


@media (min-width: 1580px) {
    .promo__card {
        max-width: 430px;
    }

    .promo__info-box span {
        font-size: 1.2rem;
    }
}
