.slider{
    height: 100%;
    position:relative;
    width: 100%;
}
.slide__item img{
    width: 100%;
    height: 100%;
    border-radius:10px;
}
.slide__arrow{
    position:absolute;
    top:50%;
    right:100%;
    transform:translate(0,-50%);
    font-size:50px;
    color:black;
    z-index: 1;
}
.slide__arrow_right{
    position:absolute;
    top:50%;
    left:100%;
    transform:translate(0,-50%);
    font-size:50px;
    color:black;
    z-index:1
}