.news__container {
    padding: 40px 16px;
    display: flex;
    justify-content: center;
    background: #e7ecff;
    font-family:  'Inter', sans-serif, serif;
}

.news__container__inner {
    width: 100%;
    gap:30px;
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(250px,1fr));
}

.news__item_playing,
.news__item_coming_soon {
    background: rgba(18, 54, 209, 0.08);
    padding: 16px;
    border: 1px solid rgba(24, 54, 198, 0.44);
    border-radius: 16px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    text-align: center;
}

.news__item_playing h3 {
    color: #1554d1;
}

.news__item_coming_soon h3 {
    color: #e67e22;
}

.news__item_playing img,
.news__item_coming_soon img {
    width: 100%;
    max-width: 220px;
    border-radius: 12px;
    object-fit: cover;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
}

.news__item_info h3{
    margin: 0;
    font-weight: 700;
    font-size: clamp(1rem, 0.9rem + 0.3vw, 1.1rem);
}

.news__item_playing span,
.news__item_coming_soon span {
    font-size: clamp(0.9rem, 0.8rem + 0.2vw, 1rem);
    font-weight: 600;
    color: #111827;
}

.news__item_coming_soon p, .news__item_playing p {
    margin: 0;
    font-size: clamp(0.8rem, 0.7rem + 0.2vw, 0.9rem);
    color: #4b5563;
}
.news__item_playing p{
    font-weight: bold;
  }
@media (max-width: 600px) {
    .news__container {
        padding: 24px 12px;
    }

    .news__container__inner {
        gap: 16px;
    }
}
